*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
}
.main h1{
    border: 1px solid;
    width: fit-content;     /* New value of width */
    padding: 10px 25px;
    color: #fff;
    position: relative;
    display: none;                   /* Important to make it hide at the first sight */
}
.main h1::after{
    content: "";
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: difference;     /* Without this property the loading effect will not work fine */
    animation: heading-animate 1.5s ease-in-out infinite;
}
@keyframes heading-animate {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.userName{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}


/* =============== Websites Main Colors =============== */
.primary-bg-color {
    background-color: rgba(0,0,0,.95);
}

.secondary-bg-color {
    background-color: #3D087B;
}

.third-bg-color {
    background-color: #F43B86;
}

.forth-bg-color {
    background-color: #FFE459;
}

.primary-color {
    color: #11052C;
}

.secondary-color {
    color: #3D087B;
}

.third-color {
    color: #F43B86;
}

.forth-color {
    color: #FFE459;
}

/* =============== Welcoming user style =============== */
.welcomeUserDisplay {
    font-size: 50px;
    font-family: 'Architects Daughter', cursive;
}

